tutaua-demo.duckdns.org {
	log {
		output discard
	}

	reverse_proxy 127.0.0.1:8096
}

tutaua-app.duckdns.org {
	encode zstd gzip
	log {
		output discard
	}

	@admin {
		path /admin /admin/* /control/admin /control/admin/*
		remote_ip private_ranges
	}
	handle @admin {
		uri strip_prefix /control
		reverse_proxy 127.0.0.1:8091
	}

	handle_path /control/* {
		reverse_proxy 127.0.0.1:8091
	}

	handle_path /tv/* {
		reverse_proxy 127.0.0.1:8092
	}

	handle {
		reverse_proxy 127.0.0.1:8088
	}
}
